@font-face {
    font-family: 'anydore';
    src: url(Fonts/anydore.regular.otf);
}

@font-face {
    font-family: 'Adlery';
    src: url(Fonts/Adlery-Pro-trial.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(Fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'poppins_italic';
    src: url(Fonts/Poppins-ExtraLightItalic.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    background-image: url(Pottery/quino-al-zjL2nfIoq3U-unsplash.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    
}

.content{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.hero{
    
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    

}

nav{
    display: flex;
    justify-content: center;
    position: relative;
    
}

.logo{
    font-family: Adlery;
    font-size: clamp(40px, 4vw, 60px);
    letter-spacing: 0px;
    color: rgb(126, 75, 38);
    text-shadow: 2px 2px 3px #444 ;
    
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.intro img{
    width: clamp(400px, 15vw, 550px);
    border-radius: 100%;
    border: 7px solid rgb(126, 75, 38);
}

.intro .image{
    display: flex;
    justify-content: center;
    padding: 0 30px;
}



.intro .word{
    
    /* text-align: center; */
    color: white;
    font-size: clamp(35px, 3vw, 60px);
    font-family: poppins;
    letter-spacing: 3px;
    width: clamp(530px, 45vw, 800px);
    padding: 0 30px;
    
}

.intro button{
    width: 200px;
    height: 80px;
    margin-top: 30px;
    background-color: rgb(126, 75, 38);
    border: none;
    color: white;
    border-radius: 50px;
    font-family: poppins;
    font-size: 25px;
    box-shadow: 5px 5px 10px #444,
                -5px -5px 10px #444;
}

.intro button:hover{
    background-color: rgb(110, 66, 34);
    cursor: pointer;
}


span{
    position: relative;
    color: rgb(126, 75, 38);
}

span::before{
    content: " ";
    position: absolute;
    height: clamp(40px, 3vw, 65px);
    width: 5px;
    background: black;
    top: 50%;
    right: -8px;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}

span.stop-blinking::before{
    animation: none;
}





.quote{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote h1{
    backdrop-filter: blur(4px);
    border-radius: 50px;
    padding: 100px;
    font-size: clamp(20px, 4vw, 50px);
    color: white;
    font-family: poppins_italic;
    text-shadow: 3px 3px 5px rgb(44, 44, 44);
}

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    color: rgb(126, 75, 38);
    padding: 0 40px;
    
}

.contact .wrapper{
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    
    
    
}

.contact .wrapper h1{
    font-size: clamp(20px, 9vw, 50px);
    text-align: center;
    
}

.contact .wrapper input, textarea{
    width: 750px;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(126, 75, 38);
    border: none;
    backface-visibility: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    background-color: inherit;
}

.contact .wrapper textarea{
    height: 150px;
    padding-top: 10px;
}


.contact .wrapper input::placeholder{
    color: rgb(126, 75, 38);
}
.contact .wrapper textarea::placeholder{
    color: rgb(126, 75, 38);
}

.contact .wrapper input:focus{
    border: none;
}
.contact .wrapper textarea:focus{
    border: none;
}

.contact .wrapper .large{
    height: 250px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.bottom button{
    width: 150px;
    height: 60px;
    background-color: rgb(126, 75, 38);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    
    transition: 500ms;
}

.bottom button:hover{
    box-shadow: none;
    background-color: rgb(110, 66, 34);
    cursor: pointer;
    
}

.bottom .socials{
    
    list-style: none;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom .socials a{
    color: black;
    transition: 500ms;
}
.bottom .socials a:hover{
    color: blue;
}

.bottom .socials .icons{
    width: 40px;
    height: 40px;

}

footer{
    width: 100%;
    min-height: 150px;
    background-color: rgb(126, 75, 38);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    
}

footer .cont{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer .cont .self-socials ul{
    list-style: none;
    display: flex;
}

.self-socials ul .icons{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: black;
    transition: 500ms;
}
.self-socials ul .icons:hover{
    color: rgb(21, 21, 129);
}

@media only screen and (max-width: 900px) {
    .intro{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .intro img{
        width: 300px;
    }

    .intro .word{
        text-align: center;
        font-size: 1.7em;
    }
    .intro .word button{
        width: 200px;
    }

    .quote{
        padding: 0px 20px;
    }

    .quote h1{
        font-size: 1.5em;
        padding: 40px;
    }

    .contact .wrapper{
        padding: 20px;
    }

    .contact .wrapper input, textarea{
        width: 300px;
        margin-bottom: 10px;
    }

    .bottom .socials{
        width: 100px;
    }
    
    .bottom .socials .icons{
        width: 25px;
        height: 25px;
    }

    .bottom button{
        height: 50px;
    }

    footer .cont{
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        font-size: 15px;
    }

    footer .cont div{
        margin-bottom: 10px;
    }

}

